@import 'variables';
@import 'mixins';

* {
    box-sizing: border-box;
    border-style: none;
}

body {
    background-color: black;
    margin: 0;
}

.header-wrapper {
    position: fixed;
    display: span;
    height: 6vw;
    width: 100%;
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0);
    z-index: 1;


    @media only screen and (min-width: 720px) {
        height: 3.5vw;
    }

    @media only screen and (max-width: 393px) {
        height: 6vw;
    }


    header {
        display: flex;
        flex-direction: row;
        flex-wrap: none;
        justify-content: flex-start;
        gap: 2vw;
        align-items: center;
        position: fixed;
        top: 2vw;
        font-size: 2.5vw;
        white-space: nowrap;
        z-index: 1;
        font-family: "FreightBig Pro Black";

        @media only screen and (min-width: 720px) {
            font-size: 1.5vw;
            top: 1vw;
        }

        @media only screen and (max-width: 393px) {
            font-size: 3vw;
            top: 0.7vw;
            width: 3vw;
            gap: 6vw;
        }
    
        .header-left {
            margin-left: 2vw;
        }
    
        .header-center {
            justify-content: center;
        }
    
        .header-right {
            margin-right: 2vw;
        }
    
        a {
            text-decoration: none;
            color: black;
    
            svg {
                width: 2.5vw;
                height: auto;

                @media only screen and (min-width: 720px) {
                    width: 2vw;
                }

                @media only screen and (max-width: 393px) {
                    width: 5vw;
                }
            }
        }
    }
}

section {
    display: grid;
    width: 100%;
    grid-column: 1, 1;

    img {
        width: 100%;
    }

    h1 {
        @include flex-center;
        color: #eeeeee;
        font-size: 3.5vw;
        padding: 10vw;
        font-family: "FreightBig Pro Black";
    }

    figure {
        position: relative;
        margin: 0;

        img {
            display: block;
        }

        figcaption {
            position: absolute;
            bottom: 0;
            right: 0;
            width: auto;
            max-width: 100%;
            padding: 1vw 2vw;;
            text-align: right;
            color: #eeeeee;
            background: rgba(0, 0, 0, 0.6);
            backdrop-filter: blur(1px);
            font-size: 2vw;
            font-family: "FreightBig Pro Light";
        }
    }
}